/* Global */
.jonquil {
  background-color: #f9c80e;
  color: black;
}

html {
  background-color: rgb(30, 30, 30);
}

.background {
  background-color: rgb(30, 30, 30);
}

.font {
  color: white;
}

.navbar {
  background-color: #f9c80e;
  color: black;
}

/* Navbar Stylings */
.navbar-burger {
  margin-left: 0;
}

.title {
  margin: 0.75rem;
}

/* Project Stylings */

.project-sub {
  justify-content: flex-end;
  position: relative;
  bottom: 100px;
  right: 5%;
}
